{% extends "layout.twig" %}

{% block content %}

<section>
    {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '0','showBtn': true})|raw}}
    <div class="header-wrapper clearfix">
        <header>
            <div class="wrapper clearfix">
                <div class="logobox">
                    <div class="logowrapper">
                        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
                    </div>
                </div>
            </div>
        </header>
    </div>
</section>

    <div class="navbar">
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>

<div class="canvas">
    <div class="main wrapper clearfix">
        <h1> Home </h1>
        {{zone('main')|raw}}
    </div>
</div>

<footer>
    <div class="wrapper clearfix">
        <div class="footerbar">
            {{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        </div>  
    </div>
</footer>

{% endblock %}
